.nav-container{
  position: sticky;
  bottom: 10px;

  display: flex;
  justify-content: center;
  overflow: hidden;

  .nav-links{
    display: flex;
    width: fit-content;
    gap: 30px;

    padding: 15px;
    border-radius: 10px;


    background-color: rgba($color: #000000, $alpha: .5);
    backdrop-filter: blur(5px);

    opacity: 0;
    transform: translateY(100%);
    animation: navAnimation .4s ease-out .6s forwards;

    .nav-link{
      cursor: pointer;
      position: relative;
      font-weight: 500;
      font-size: 14px;
      color: white;

      &::after{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2px 0;
        width: 0%;
        height: 3px;
        border-radius: 3px;
        background-color: white;
        transition: width .3s ease-out;
      }
    }
    .active{
      &::after{
        width: 80%;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .nav-container{
    bottom: 20px;
  }
}
@keyframes navAnimation{
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
